---
layout: single
classes: wide
title: Publications
author_profile: true
---
<style>
.pubtitle {
    margin-bottom: 0.25em;
    line-height: 1.5em;
    font-weight: bold;
}

.pubauthors {
    margin-bottom: 0.75em;
}

.pubinfo {
    font-size: 75%;
    margin-bottom: 0.75em;
    font-style: italic;
}

</style>
{% assign publications = site.publications |  sort: "year" | reverse %}
{% for pub in publications %}
<div class="pubitem">
  <h2>{{ pub.title }}</h2>
  <div class="pubauthors">{{ pub.authors }}</div>
  <div class="pubinfo">{{ pub.publication }}, {{ pub.year}}</div>
  <div class="publinks">
   {% if pub.doi %} <a href="{{ pub.doi }}" target="_blank" class="btn btn--primary btn--small">DOI</a> {% endif %}
   {% if pub.link %} <a href="{{ pub.link }}" target="_blank" class="btn btn--inverse">Link</a> {% endif %}
  </div>
  
  <!--<div class="bibtex">
    {% highlight bibtex %}
    {{ pub.bibtex }}
    {% endhighlight %}
  </div>-->

</div>
{% endfor %}

